version: 2.1
jobs:
  build:
    docker:
      - image: circleci/node:14

    steps:
      - checkout

      - run:
          name: Install dependencies
          command: |
            cd /home/circleci/project  # Change to your actual project directory
            npm install

      - run:
          name: Run tests
          command: |
            cd /home/circleci/project  # Change to your actual project directory
            npm test
